body {
	margin: 0;
	font-family: "微正黑w", "新明w", "丝w", "明w", "Helvetica Neue", Helvetica, Arial, sans-serif;  
 	font-size: 16px;
 	padding: 40px;
 	background-image: url(../img/cis2.jpg);
 	background-repeat: repeat;
 	background-attachment: fixed;
 	background-size: 100px, 100px;
 	background-position: bottom, center;
}
em {
	font-style: normal; 
	color:blue;
}
strong { 
	font-weight: bold; 
	color:red; 
}
pre {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*端巡[列*/

.navbar .brand{    
	float: right;
}

/*英雄^域*/
.hero-unit {
	padding: 10px;
/*	position: relative;
*/}

/*播效果*/
.carousel-caption > p {
	font-size: 10px;
}

/*按o*/
.btn.btn-info.btn-large {
	margin-top: 10px;
/*	position: absolute;
	right: 0;
	left: 0;*/
}

/*冗巡[列*/
.well.nav.nav-list >li{
	text-align: left;
}

.well.nav.nav-list {
	width:200px;
}

.well.nav.nav-list > li > a {
	color: #b89c3b;	
}

.well.nav.nav-list > li > a:hover {
	color: #917b2f;	
}

.well.nav.nav-list > .active > a {
	background-color: #b89c3b;
	color: white;
}

.well.nav.nav-list > .active > a:hover {
	background-color: #b89c3b;
	color: white;
}




/*冗巡[列背景*/
.well {
/*		background-image: url(jpeg.jpg);
*/}

/*D片*/
img[alt] {
	border: 3px solid white;
}

.img-circle.indexImage {
	width:140px;
	height:140px;
}



/*.navbar .nav,
.navbar .nav > li {
  float:none;
  display:inline-block;
  *display:inline; 
  *zoom:1; 
  vertical-align: top;
}
/* ie7 fix 
/* hasLayout ie7 trigger */

/*.navbar-inner {
  text-align:left;
}*/