body {
	margin: 0;
	font-family: "微正黑w", "新明w", "丝w", "明w", "Helvetica Neue", Helvetica, Arial, sans-serif;  
 	font-size: 16px;
 	padding: 40px;
/* 	background-image: url(../img/cis2.jpg);
 	background-repeat: repeat;
 	background-attachment: fixed;
 	background-size: 100px, 100px;
 	background-position: bottom, center;*/
}

em {
	font-style: normal; 
	color:blue;
}
strong { 
	font-weight: bold; 
	color:red; 
}
pre {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
}

h3 {
	color: #b89c3b;
	text-align: center;
}

h4 {
	color: #339966;
}

th {
	align: center;
}

/*端巡[列*/

.navbar .brand{    
	float: right;
}

/*英雄^域*/
.hero-unit {
	padding: 10px;
/*	position: relative;
*/}

/*播效果*/
.carousel-caption > p {
	font-size: 10px;
}

/*按o*/
.btn.btn-info.btn-large {
	margin-top: 10px;
/*	position: absolute;
	right: 0;
	left: 0;*/
}

/*冗巡[列*/
.well.nav.nav-list >li{
	text-align: center;
}

.well.nav.nav-list > div > div > li{
	text-align: center;
	border: none;
}

.well.nav.nav-list > div > div > a{
	text-decoration: none;
	border-bottom: 	1px solid #e5e5e5;
	color: #b89c3b;
	font-weight: bold;
}


.well.nav.nav-list {
	width:200px;
	padding: 0 0;
	text-align: center;
}

.well.nav.nav-list > li > a {
	color: #b89c3b;	
/*	border: 1px solid #e5e5e5;
*/	margin:0px 0px -1px;
	padding: 8px 14px;
}

.well.nav.nav-list > div > div > li > a {
	color: #b89c3b;	
/*	border: 1px solid #e5e5e5;
*/	margin:0px 0px -1px;
	padding: 8px 14px;
	text-decoration: none;
}


.well.nav.nav-list > li > a:hover {
	color: #917b2f;	
}

.well.nav.nav-list > div > div > li:hover {
	background-color: #eeeeee;
}

.well.nav.nav-list > div > div > li > a:hover {
	color: #917b2f;
}

.well.nav.nav-list > .active > a {
	background-color: #b89c3b;
	color: white;
}

.well.nav.nav-list > div > div > .active {
	background-color: #b89c3b;
}

.well.nav.nav-list > div > div > .active > a {
	color: white;
}


.well.nav.nav-list > .active > a:hover {
	background-color: #b89c3b;
	color: white;
}

.well.nav.nav-list > div > div > .active:hover {
	background-color: #b89c3b;
}

.well.nav.nav-list > div > div > .active > a:hover {
	color: white;
}




/*冗巡[列背景*/
.well {
/*		background-image: url(jpeg.jpg);
*/}

/*D片*/
img[alt] {
	border: 3px solid white;
}

.indexThumbanails {
	background-image: url(0);
	background-repeat: no-repeat;
	background-color: white;
}

.img-circle.indexImage {
	width:140px;
	height:140px;
	opacity: 0.5;
	filter:alpha(opacity=50); /*for ie7 */
}

.img-circle.indexImage:hover {
	opacity: 1.0;
	filter:alpha(opacity=100); /*for ie7 */
}

.text-area {
	text-align: left;
	display: none;
	border:#FF0000 10px solid;
	border-radius: 10px;
	padding: 20px;

}

#text-1 {
	display: block;
}

#member1 {
	opacity: 1.0;
	filter:alpha(opacity=100); /*for ie7 */
	border:#FF0000 10px solid;
}

#member2 {
	border:#FF7519 10px solid;
}

#member3 {
	border:#FFFF19 10px solid;
}

#member4 {
	border:#66FF66 10px solid;
}

#member5 {
	border:#6699FF 10px solid;
}

#member6 {
	border:#8533D6 10px solid;
}

#text-1 {
	background-color: rgba(255, 0, 0, 0.3);
}

