body {
	margin: 0;
	font-family: "微軟正黑體", "新細明體", "標楷體", "細明體", "Helvetica Neue", Helvetica, Arial, sans-serif;  
 	font-size: 16px;
 	padding: 40px;
/* 	background-image: url(../img/cis2.jpg);
 	background-repeat: repeat;
 	background-attachment: fixed;
 	background-size: 100px, 100px;
 	background-position: bottom, center;*/
}

em {
	font-style: normal; 
	color:blue;
}
strong { 
	font-weight: bold; 
	color:red; 
}
pre {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
}

h4 {
	color: #b89c3b;
	font-size: 22px;
}

table, th, td {
	border:1px solid black;
	border-collapse:collapse;
}

tr:first-child {
	text-align: center;
}

/*td:nth-child(odd) {
	text-align: center;
}*/

/*頂端巡覽列*/

.navbar .brand{    
	float: right;
}

/*英雄區域*/
.hero-unit {
	padding: 10px;
/*	position: relative;
*/}

/*輪播效果*/
.carousel-caption > p {
	font-size: 10px;
}

/*按鈕*/
.btn.btn-info.btn-large {
	margin-top: 10px;
/*	position: absolute;
	right: 0;
	left: 0;*/
}

/*側邊巡覽列*/
.well.nav.nav-list >li{
	text-align: center;
}

.well.nav.nav-list {
	width:200px;
	padding: 0 0;
}

.well.nav.nav-list > li > a {
	color: #b89c3b;	
/*	border: 1px solid #e5e5e5;
*/	margin:0px 0px -1px;
	padding: 8px 14px;
}

.well.nav.nav-list > li > a:hover {
	color: #917b2f;	
}

.well.nav.nav-list > .active > a {
	background-color: #b89c3b;
	color: white;
}

.well.nav.nav-list > .active > a:hover {
	background-color: #b89c3b;
	color: white;
}




/*側邊巡覽列背景*/
.well {
/*		background-image: url(jpeg.jpg);
*/}

/*圖片*/
img[alt] {
	border: 3px solid white;
}

.indexThumbanails {
	background-image: url(0);
	background-repeat: no-repeat;
	background-color: white;
}

.img-circle.indexImage {
	width:140px;
	height:140px;
	opacity: 0.5;
	filter:alpha(opacity=50); /*for ie7 */
}

.img-circle.indexImage:hover {
	opacity: 1.0;
	filter:alpha(opacity=100); /*for ie7 */
}

.text-area {
	display: none;
}



/*.navbar .nav,
.navbar .nav > li {
  float:none;
  display:inline-block;
  *display:inline; 
  *zoom:1; 
  vertical-align: top;
}
/* ie7 fix 
/* hasLayout ie7 trigger */

/*.navbar-inner {
  text-align:left;
}*/